body {
	background-color: #00a1e6;
}
.CelulaCentro {
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #434037;
	border-left-color: #434037;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #434037;
}
.style1 {
	color: #005D8C;
	font-size: 12pt;
	font-family: arial;
}
.style3 {color: #FFFFFF; font-size: 12pt; font-family: verdana; }
.style4 {color: #FFFFFF}
.tabela {
	background: #00A2E7;
	color: #005D8C;
	font-size: 12pt;
	font-family: verdana;
	border-color:00A2E7;
	background-color: #00A2E7;
	border-top-color: 00A2E7;
	border-right-color: 00A2E7;
	border-bottom-color: 00A2E7;
	border-left-color: 00A2E7;
	width: 98%;
	border-width: thin thin thin thin;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: gray gray gray gray;
	border-collapse: separate;	
}

.topotabela {
	background: #00A2E7;
        color: #FFFFFF;        
	font-size: 10pt;
	font-family: verdana;        
	padding: 0px;
        font-weight: normal;
        text-align: center;
        width: 100%;
}
.colunatabela1 {	
	padding: 0px;	
	background-color: #a0d7f3;	 	
	color: #005D8C;
        font-size: 9pt;        
}

